---
---

@import "{{ site.theme }}";

.about-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 3em;
}

div.category {
    display: inline;
    margin: 5px;
    padding: 1px;
    color: slategrey;
    background-color: antiquewhite;
    border: 1px solid darkslategrey;
    border-radius: 3px;
}

div.category-text {
    display: inline;
    color: slategrey;
}

.centering-container {
    display: flex;
    justify-content: center;
}

.caption {
    margin-top: -10px;
    font-size: small;
    font-style: italic;
}